<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置别名 -->
	<typeAliases>
		<package name="com.entity" />
		<!-- <typeAlias type="com.model.User" alias="_user"/> -->
	</typeAliases>
	<!-- 配置映射 -->
	<mappers>	
		<mapper resource="com/dao/UserMapper.xml"/>
		<mapper resource="com/dao/AdminMapper.xml"/>
		<mapper resource="com/dao/ComMapper.xml"/>
	</mappers>
</configuration>