
#twoa{
    width:1300px;
    height:790px;
    margin: 0 auto;
}

#centera{
    width: 1037px;
    height: 580px;
    margin-left: 104px;
    margin-top: 37px;
    border: 1px solid #AEAEAE;
}
#center1a{
    width: 637px;
    height: 56px;
    border-bottom: 1px solid #F2F2F2;
}
#text3a{
    width: 70px;
    height: 30px;
    font-weight: 600;
    color: #333333;
    margin-left: 18px;
    margin-top: 15px;
    line-height: 30px;

}
#typea{
    width:276px;
    height: 20px;
    margin-top: 37px;
    margin-left: 30px;
}
#text4a{
    width: 55px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
}
#text5a{
    width: 80px;
    height: 20px;
}
#typea>div{
    float: left;
}
.personala{
    font-size: 13px;
}
#text6a{
    width: 80px;
    height: 20px;
    margin-left: 55px;
}
.companya {
    font-size: 13px;
}
#phonea{
    width: 320px;
    height: 39px;
    margin-left: 30px;
    margin-top: 13px;

}
#text7a{
    width: 54px;
    height: 39px;
    color: #333333;
    font-size: 13px;
    line-height: 39px;

}
#boxa{
    width: 250px;
    height: 39px;
    margin-left: 14px;


}
#phonea>div{
    float: left;
}
#com_email{
    width: 229px;
    height: 34px;
}

#validationa{
    width: 320px;
    height:  39px;
    margin-top: 12px;
    margin-left: 30px;

}
#text8a{
    width: 46px;
    height: 39px;
    font-size: 13px;
    color: #333333;
    line-height: 39px;
    text-align: center;
    margin-left: 5px;


}
#box2a{
    width: 136px;
    height: 39px;
    margin-left: 15px;

}
#validationa>div{
    float: left;
}
.box2a{
    width: 136px;
    height: 34px;

}
#yzma{
    width: 85px;
    height: 39px;
    margin-left: 13px;

}
.yzma{
    width: 85px;
    height: 39px;
}
#buttona{
    width: 230px;
    height: 45px;
    margin-top: 49px;
    margin-left: 91px;

}
.buttona{
    width: 230px;
    height: 45px;
    background-color: #099998;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}
#righta{
    width: 350px;
    height: 203px;
    position:absolute;
    left: 921px;
    top: 238px;
}
#text9a{
    width: 80px;
    height: 20px;
    color: #333333;
    margin-top: 14px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;

}
#text10a{
    width: 326px;
    height: 48px;
    color: #333333;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 13px;

}
#text11a{
    width: 230px;
    height: 15px;
    color: #333333;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 13px;

}
#text12a{
    width: 230px;
    height: 15px;
    color: #333333;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 13px;

}
#text13a{
    width: 160px;
    height: 15px;
    color: #333333;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 13px;
}

#comnamea{
    width: 325px;
    height: 39px;
    margin-left: 30px;
    margin-top: 32px;

}
#comname1a{
    width: 54px;
    height: 39px;
    color: #333333;
    font-size: 13px;
    line-height: 39px;

}
#comname2a {
    width: 230px;
    height: 39px;
    margin-left: 12px;


}
#comnamea>div{
    float: left;
}
.comnamea{
    width: 230px;
    height: 34px;
}