#Lower{
    width: 1100px;
    margin-top: 132px;
    height: 1140px ;
	
    margin-left: 100px;
    margin-right: 100px;
    position: relative;

}
#attribute{
    height: 1140px;
    width: 638px;
    float: left;
    border: 0px solid #4a4a4a;
    position: relative;
}
#Explain{
    position: relative;
    margin-left: 82px;
    width: 340px;
    height: 190px;
    float: right;
    border: 0px solid #4a4a4a;
    padding-left: 10px;
}
#typefacezhuce{
    width: 638px;
    height:90px;

}
.Typeface{
    margin-top: 23px;
    font-size: 17px;
    float: left;
    margin-left: 12px;
    margin-right: 40px;
}
#circular{
    margin-right: 38px;
    margin-left: 38px;
    width: 562px;
    height: 40px;

    position: relative;
}
.imgu228{

    float: left;
}

.imgu231{

    float: left;

}
.imgu233{

    float: left;
    margin-right: -14px;
    margin-left: -2px;
    margin-top: 5px;

}
.number{
    position: absolute;
    color: #FFFFFF;
    margin-top: -32px;
    margin-left: 15px;

}
.process{
    text-align: center;
    width: 114px;
    height: 20px;
    font-size: 15px;
    float: left;

    margin-left: -36px;
    position: absolute;

}
.note{
    font-size: 13px;
    float: left;
    margin-bottom: 15px;
    margin-top: 5px;
}
#notea{
    font-weight: 600;
}
#information{
    margin-top:50px;
    width: 638px;
    height:810px;

    float: left;
}
.inforCorporate{

    height:40px;
    width: 638px;

    margin-bottom: 15px;

}
.dateCorporate{
    width: 90px;
    height:36px;
    color: black;
    position: absolute;
    text-align: right;
    margin-top: 9px;
    font-size: 15px;


}
.inforname{
    width: 90px;
    height: 36px;
    float: left;
    position: relative;
    margin-right: 9px;


}
.Corporatesan{
    position: relative;
    height:36px;
    width: 226px;

    float: left;

}
.Corporatename{
    position: absolute;
    height:36px;
    width: 225px;
}
.select{
    height: 36px;
    width:110px;

}
.select2{
    height: 36px;
    width:225px;


}
.inforscanning{
    height:70px;
    width: 638px;
    margin-bottom: 20px;


}
.inforsaomiao{
    width: 80px;
    height: 40px;
    float: left;

    text-align: left;
    margin-left: 8px;


}
.scanning{
    height: 40px;
    width:500px;
    font-size: 15px;
    margin-left: 100px;

}
.button1{
    margin-top: 5px;

}
#infordomain{
    height:96px;
    width: 638px;
}
#button2{
    width: 200px;
    height: 46px;
    margin-left:100px;
    position: absolute;
    margin-top: 15px;
    color: #FFFFFF;
    background-color: #099998;
    font-size: 15px;
    border: 0px solid #FFFFFF;
    border-radius:8px;
}

.dataclick{
    width:300px;
    height:36px;
    color: darkgray;
    position: absolute;
    margin-left: 335px;
    margin-top: 2px;
    font-size: 14px;
    display: none;
}
#Corporatesan_div{

    position: relative;
    height:36px;
    width: 340px;
    float: left;
}