#Lower{
    width: 1100px;
    margin-top: 132px;
    height: 960px ;

    margin-left: 100px;
    margin-right: 100px;
    position: relative;

}
#attribute{
    height: 960px;
    width: 638px;
    float: left;
    border: 0px solid #4a4a4a;
    position: relative;
}
#Explain{
    position: relative;
    margin-left: 82px;
    width: 340px;
    height: 190px;
    float: right;
    border: 0px solid #4a4a4a;
    padding-left: 10px;
}
#typefacezhuce{
    width: 638px;
    height:90px;

}
.Typeface{
    margin-top: 23px;
    font-size: 17px;
    float: left;
    margin-left: 12px;
    margin-right: 40px;
}
#circular{
    margin-right: 38px;
    margin-left: 38px;
    width: 562px;
    height: 40px;

    position: relative;
}
.imgu228{

    float: left;
}

.imgu231{

    float: left;

}
.imgu233{

    float: left;
    margin-right: -14px;
    margin-left: -2px;
    margin-top: 5px;

}
.number{
    position: absolute;
    color: #FFFFFF;
    margin-top: -32px;
    margin-left: 15px;

}
.process{
    text-align: center;
    width: 114px;
    height: 20px;
    font-size: 15px;
    float: left;

    margin-left: -36px;
    position: absolute;

}
.note{
    font-size: 13px;
    float: left;
    margin-bottom: 15px;
    margin-top: 5px;
}
#notea{
    font-weight: 600;
}
#information{
    margin-top:50px;
    width: 638px;
    height:775px;

    float: left;
}
.inforCorporate{

    height:20px;
    width: 638px;

    margin-bottom: 5px;

}


.Corporatesan{
    position: relative;
    height:20px;
    width: 127px;
    float: left;
    margin-left: 0.5px;



}




#button2{
    float: left;
    width: 200px;
    height: 46px;
    margin-left:180px;
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #099998;
    font-size: 15px;
    border: 0px solid #FFFFFF;
    border-radius:8px;
}

#industry{
    height:100px;
    width: 638px;

    margin-bottom: 5px;
}
#Subindustry{
    height:350px;

    width: 638px;

    margin-bottom: 5px;
}
.Subindustry{
    position: relative;
    height:25px;
    width: 318px;
    float: left;

    font-size: 10px;
    margin-left: 1px;

}