#onea{
    width:1300px;
    height:790px;
    margin: 0 auto;
}

#centera{
    width: 1007px;
    height: 580px;
    margin-left: 104px;
    margin-top: 37px;
    border: 1px solid #AEAEAE;
}
#center1a{
    width:1000px;
    height: 56px;
    border-bottom: 1px solid #F2F2F2;
}
#text3a{
    width: 70px;
    height: 30px;
    font-weight: 600;
    color: #333333;
    margin-left: 18px;
    margin-top: 15px;
    line-height: 30px;

}

#newa{
    width: 530px;
    height: 39px;
    margin-left: 15px;
    margin-top: 24px;

}

#text4a{
    width:65px;
    height: 39px;
    font-size: 13px;
    color: #333333;
    line-height: 39px;

}

#boxa{
    width: 440px;
    height: 39px;
    margin-left: 14px;

}

#newa>div{
    float: left;

}

#newpassworda{
    width: 226px;
    height: 34px;
    outline:medium;
}

#surea{
    width: 500px;
    height: 39px;
    margin-top: 20px;
    margin-left: 26px;

}

#text5a{
    width: 53px;
    height: 39px;
    font-size: 13px;
    color: #333333;
    line-height: 39px;

}
#box2a{
    margin-left: 12px;
}

#surea>div{
    float: left;
}

#submita{
    width: 231px;
    height: 39px;
    margin-left: 90px;
    margin-top: 38px;
}
#newpassword1a{
    width: 226px;
    height: 34px;
    outline:medium;
}
.submit1a{
    width: 231px;
    height: 39px;
    border-radius: 10px;
    background-color: #099998;
    color: white;
    font-size: 17px;
    outline:medium;
}
#righta{
    width: 350px;
    height: 203px;
    position:absolute;
    left: 861px;
    top: 142px;
}
#text9a{
    width: 80px;
    height: 20px;
    color: #333333;
    margin-top: 14px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;

}
#text10a{
    width: 326px;
    height: 48px;
    color: #333333;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 13px;

}
#text11a{
    width: 230px;
    height: 15px;
    color: #333333;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 13px;

}
#text12a{
    width: 230px;
    height: 15px;
    color: #333333;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 13px;

}
#text13a{
    width: 160px;
    height: 15px;
    color: #333333;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 13px;
}
