
#aa{
    width:1300px;
    height:300px;
    margin: 0 auto;
    margin-top:70px;
    margin-bottom:130px;
}


#aa #centera{
    width: 637px;
    height: 580px;
    margin-left: 104px;
    margin-top: 37px;
}

#aa #typea{
    width:276px;
    height: 20px;
    margin-top: 37px;
    margin-left: 30px;
}
#aa #text4a{
    width: 55px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
}
#aa #text5a{
    width: 80px;
    height: 20px;
}
#aa #typea>div{
    float: left;
}
#aa .personala{
    font-size: 13px;
}
#aa #text6a{
    width: 80px;
    height: 20px;
    margin-left: 55px;
}
#aa .companya {
    font-size: 13px;
}
#aa #phonea{
    width: 304px;
    height: 39px;
    margin-left: 30px;
    margin-top: 35px;

}
#aa #text7a{
    width: 54px;
    height: 39px;
    font-size: 13px;
    line-height: 39px;

}
#aa #boxa{
    width: 229px;
    height: 39px;
    margin-left: 14px;

}
#aa #phonea>div{
    float: left;
}
#aa .boxa{
    width: 229px;
    height: 34px;
}
#aa #validationa{
    width: 320px;
    height:  39px;
    margin-top: 12px;
    margin-left: 30px;

}
#aa #text8a{
    width: 46px;
    height: 39px;
    font-size: 13px;
    line-height: 39px;
    text-align: center;
    margin-left: 5px;


}
#aa #box2a{
    width: 136px;
    height: 39px;
margin-left: 15px;

}
#aa #validationa>div{
    float: left;
}
#aa .box2a{
    width: 136px;
    height: 34px;

}
#aa #yzma{
    width: 85px;
    height: 39px;
    margin-left: 13px;

}
#aa .yzma{
    width: 85px;
    height: 39px;
}
#aa #buttona{
    width: 230px;
    height: 45px;
    margin-top: 49px;
    margin-left: 91px;

}
#aa .buttona{
    width: 230px;
    height: 45px;
    background-color: #099998;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}